@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,600i,700,700i,900i&subset=cyrillic,latin-ext');
.login-box{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;    
}
.pm-alert-user {
    margin-top: 50px;
    text-align: center;
}